/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,last 4 version,not dead
*/

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Inconsolata:wght@200;300;400;500;600;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Major Mono Display', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
*/

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
	background-color: rgb(9, 9, 9);
	margin: 0;
}


a:link {
	color:rgb(248, 241, 40);
	text-decoration:none;
}

a:visited {
	color:rgb(250, 250, 250);
}
	
a:hover {
	color:rgb(255, 252, 161);
}

a:active {
	color:rgb(255, 249, 84);
}


#container {
    clear:both;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}


header {
	position: static;
	left:0px;
	top:0px;
	width: 100%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}

#headerScroll {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	color: rgb(250, 250, 250);
	box-shadow: 0px 5px 10px 1px rgb(0, 0, 0); 
	background-color:rgb(13, 13, 13);
	background: linear-gradient(45deg, rgba(16,16,16,.5) 15%, rgba(0,7,93,.5) 35%, rgba(31,7,85,.5) 65%, rgba(16,16,16,.5) 85%);
    z-index: 99;
}

header h1 {
    float:left;
    width: 25%;
    margin-top: 0;	
	text-align: left;	
	margin-left: 10%;
    font-family: 'Roboto', sans-serif;
	font-size: clamp(20px, 4vw, 40px);
  	white-space: nowrap; 
    text-shadow: 3px 2px 2px rgb(61, 61, 61);
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: italic;
    color: rgb(250, 250, 250);
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

/*
nav {
	float: right;
	width: auto;
	text-align: right;	
	margin-right: 10%;
	opacity: 1;
}

nav li {
	float: left;
	list-style-type: none;
    font-family: 'Roboto Mono', monospace;
	font-size: clamp(14px, 1vw, 22px);
    text-shadow: 0px 0px 2px rgb(128, 128, 128);
	padding-top: 30px;
}
*/

main section {
	color: rgb(235, 235, 235);
	background: rgb(13, 13, 13);
	width: 100%;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	padding-bottom: 2%;
}

main section:nth-child(even) {
	color: rgb(13, 13, 13);
	background: linear-gradient(105deg, rgba(228,231,219,.6) 10%, rgba(177,201,233,.6) 15%, rgba(177,209,233,.9) 25%, rgba(143,220,235,.5) 35%, rgba(142,211,238,.8) 40%, rgba(143,196,235,.6) 45%, rgba(163,176,228,.4) 65%, rgba(177,201,233,.6) 75%, rgba(238,241,223,.4) 90%),
	linear-gradient(90deg, rgba(228,231,219,.7) 10%, rgba(177,201,233,.7) 15%, rgba(177,209,233,.5) 25%, rgba(143,220,235,.7) 35%, rgba(142,211,238,.7) 40%, rgba(143,196,235,.7) 45%, rgba(163,176,228,.3) 65%, rgba(177,201,233,.6) 75%, rgba(238,241,223,.7) 90%),
	linear-gradient(25deg, rgba(226,227,222,1) 10%, rgba(159,193,238,1) 25%, rgba(143,220,235,1) 35%, rgba(164,219,187,1) 37%, rgba(224,213,124,1) 40%, rgba(245,163,86,1) 45%, rgba(231,134,89,1) 50%, rgba(163,171,228,1) 65%, rgba(245,246,239,1) 90%), rgb(235, 235, 235);
}


h2 , h3{
	font-style: italic;
	font-weight: 1, 700;
    font-family: 'Roboto', sans-serif;
	padding-bottom: 15px;
}

p {
	padding: 20px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	line-height: 2;
}

#maps p a{
	text-decoration:underline;
}

#mapsContainer{
	padding-top: 30px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
	gap: 10px;
}

#mapsContainer figure{
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	padding: 8%;
}

#mapsContainer figure img {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	cursor: zoom-in; 
}

.overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.85);
  cursor: zoom-out;
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 80%;
  max-height: 80%;
  border: 2px solid rgb(80, 80, 80);
  box-shadow: 0 0 15px rgb(5, 5, 5);
}

.close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 45px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  line-height: 1.5;
}

figcaption {
	font-family: 'Roboto Mono', monospace;
	font-size: 90%;
	font-weight: 500;
	line-height: 2;
	padding: 2% 10% 5% 10%;
}

/*
#linksList {
	width: auto;
	height: auto;
	padding: 25px;
	list-style-type: none;
}

#linksList li{
	width: 100%;
	min-width:-webkit-fit-content;
	min-width:-moz-fit-content;
	min-width:fit-content;
	padding: 10px;
	text-align: center;
	background-color: rgb(243, 243, 243);
	margin: 15px;
	border-top: solid 1px rgba(200, 200, 200, .15);
	border-left: solid 1px rgba(200, 200, 200, .15);
	border-bottom: solid 1px rgba(255, 255, 255, .2);
	border-right: solid 1px rgba(255, 255, 255, .2);
	box-shadow: -1px -1px 1px rgba(250, 250, 250, .2), 1px 2px 4px rgba(0, 0, 0, .4);
	border-radius: 2px;
}

#linksList li a{ 
	color: rgb(33, 33, 33);
	font-family: 'Roboto', sans-serif;
	font-size: clamp(24px, 5vw, 40px);
	font-weight: 900;
	text-shadow: 1px 0px 0px rgba(250, 250, 250, .3), -1px -1px 0px rgba(250, 250, 250, .1);
	display: block;
	background: linear-gradient(45deg, rgba(226,227,222,1) 5%, rgba(159,193,238,.8) 25%, rgba(143,220,235,.8) 35%, rgba(164,219,187,.8) 37%, rgba(224,213,124,.8) 40%, rgba(245,163,86,.8) 45%, rgba(231,134,89,.8) 50%, rgba(163,171,228,.8) 65%, rgba(245,246,239,1) 95%);
  	background-clip: text;
  	-webkit-background-clip: text;
}

#linksList li a:link {
	color: rgb(33, 33, 33);
	text-decoration:none;
}

#linksList li a:visited {
	color: rgb(33, 33, 33);
}

#linksList li a:hover {
	color: transparent;
	transition: 500ms ease;
	text-shadow: none;
}

#linksList li a:active {
	color:rgba(143,220,235,1);
	text-shadow: none;
}


#contact {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 20px;
}
*/

footer {
  	bottom: 0;
	min-height:80px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(18, 18, 18);
	color:rgb(235, 235, 235);
	font: 12px 'Roboto', sans-serif;
    text-align: center;
	padding-top: 30px;
	background: linear-gradient(45deg,  rgba(16,16,16,.4) 15%, rgba(0,7,93,.4) 35%, rgba(31,7,85,.4) 65%, rgba(16,16,16,.4) 85%);
}